section.hero.is-success
  .hero-body
    .container
      h1.title
        |  ユーザー編集 
= render 'shared/errors', model: @user
section.section
  .container
    .columns.is-centered
      .column.is-6
        = render 'form', user: @user
