<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        本の登録
      </h1>
    </div>
  </div>
</section>

<%= render 'errors', book: @book %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= render 'form', book: @book %>
      </div>
    </div>
  </div>
</section>
