section.hero.is-success
  .hero-body
    .container
      h1.title
        |  本の登録 
= render 'errors', book: @book
section.section
  .container
    .columns.is-centered
      .column.is-6
        = render 'form', book: @book
