@import "bulma";

.notification:not(:last-child){
	margin-bottom: 0;
}

.avatar-image {
 border-radius: 50%;
}

.main-image {
	height: 940px;
	background-image: url(book.jpg);
	// background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.8;
}

.custom-black {
	color: #000;
}

.custom-gray {
	color: #9a9a9a;
}